@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray: #4a5568
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    width: 100%;
  }

  .navbar {
    background-color: rgb(255, 192, 218);
    height: 135px;
    display: flex;
    width: 100%;
    padding: 0 20%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
    position: fixed;
  }

  .navbar .menu {

    display: flex;
    gap: 30px;
  }

  .hero {
    padding: 85px 10% 0 10%;
    height: 470px;
    display: flex;
    align-items: center;
    background-color: rgb(54, 51, 51);
  }
  
  .hero img {
    width: 50%;
    height: 323px;
  }